<section class="">
  <div class="header">
    <div class="">

      <span class="text-uppercase fw-bold text-light pt-5 ps-5 Whatsapp-logo">
        <span class="ms-5">
          <i class="fa-brands fa-whatsapp fa-2xl pt-5 mx-3"></i>
        </span>
        Whatsapp web
      </span>
    </div>
    <section id="innerbox" class="innerbox bg-light shadow-lg border rounded-1 my-5 col-md-9 offset-md-2 mb-5">
      <div class="border col-md-10 text-center align-items-center h-15 p-4 my-5 offset-md-1 rounded-1 ">
        <div class="row">
          <div class="d-flex justify-content-around">
            <span><img src="../assets/Images/whatsapp_laptop.png" class="" alt=""></span>
            <span class="fs-5 "><span class=" down">Download WhatsApp for Windows.</span> <br><span
                class="get text-muted">Get
                calling, screen
                sharing and a faster experience with the new Windows app.</span></span>

            <span>
              <a href="#" class="btn btn-success rounded-pill p-2 mt-2 w- px-4  py-2 fw-bold">Get the
                app</a>
              <!-- <button class="btn btn-success rounded-pill p-2 mt-2 w-25 fw-bold border border-info">Get the app</button> -->

            </span>
          </div>
        </div>
      </div>
      <div class="row ms-5">
        <div class="d-flex justify-content-between">
          <div class=" col-md-6 mb-4 me-5">
            <p class="text-muted ms-3 fs-2 mb-5 ">Use WhatsApp On your computer</p>
            <ol class="fs-5 text-muted">
              <li class="mb-4">Open WhatsApp on your phone</li>
              <li class="mb-4">Tap <span class="fw-semibold">Menu</span> or <span class="fw-semibold">Settings </span>
                and
                select <span class="fw-semibold">Linked Devices</span> </li>
              <li class="mb-4">Tap on <span class="fw-semibold">Link a device</span></li>
              <li class="mb-4">Point your phone to the screen to capture the QR code</li>
            </ol>
          </div>
          <div class="col-md-6 ms-5">
            <img src="../assets/Images/barcode.png" class="barcode ms-5" alt="">
          </div>
        </div>
      </div>

      <div class="ms-3 mt-5 mb-5">
        <a href="" class="text-info fs-5 ms-5 mt-5 text-decoration-none link">Link with phone number</a>
      </div>
      <div class="mt-5 mb-5 bg-light text-center align-items-center">
        <p class="fs-2 mt-5 fw-light text-muted ">Tutorial</p>
        <a href="#" class="text-info need text-decoration-none">Need help to get
          started?</a>


      </div>
      <div class="text-center align-items-center">
        <a href="https://web.whatsapp.com/whatsapp-webclient-login_c09223f0813e7c3adc16476cba2a5d0d.mp4">
          <img src="../assets/Images/whatsappwebvideo.png" alt="">
        </a>
        <!-- <video width="640" height="360" controls src="https://web.whatsapp.com/whatsapp-webclient-login_c09223f0813e7c3adc16476cba2a5d0d.mp4" type="video/mp4">
          <img src="../assets/Images/whatsappwebvideo.png" alt="">

        </video> -->
        <!-- <video width="640" height="360" controls>
          <source src="https://web.whatsapp.com/whatsapp-webclient-login_c09223f0813e7c3adc16476cba2a5d0d.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> -->



      </div>


    </section>
    <div class="mb-5 d-none">

    </div>


  </div>
</section>
